<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-right>{{pageTitle}}</ion-title>
  </ion-navbar>

  <div class="week-wrapper">
    <div class="arrows-container">
      <div class="right" (click)="goBack()"><i class="right fa fa-angle-left"></i></div>
      <div class="left" (click)="goNext()" style="text-align:right;"><i class="right fa fa-angle-right"></i></div>
    </div>
    <div class="week-header">
      <h1>WEEK</h1>
      <h1 class="days-in-week">{{weekTitle}}</h1>
    </div>
  </div>

</ion-header>


<ion-content padding>

  <div class="new-day-button">
    <i class="fa fa-plus-circle fa-3x"
       (click)="addNewDay()"
       [hidden]="!hiddenDays || !hiddenDays.length"></i></div>

  <day-component *ngFor="let dayToDisplay of daysToDisplay"
                 [date]="dayToDisplay"
                 (changed)="someDayContentChanged($event)"
  ></day-component>

  <form [formGroup]="form" [hidden]="true" hidden>
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>New day</ion-label>
        <ion-select #daySelector formControlName="day" okText="Okay" cancelText="Dismiss"
                    (ionChange)="addDaySelectorChanged()">
          <ion-option *ngFor="let dayE of hiddenDays; let i = index" [value]="dayE.date">
            {{dayE.name}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
