.days-in-week{
  margin-top: 0.8rem;
}

.fa-plus-circle {
  color: #F95959;

}

.week-wrapper {
  background-color:#3073b6;
  color:white;
  margin-top: -80px;
  height:220px;
  display:flex;
  align-items: flex-end;
}

.week-header {
  margin-top:50px;
  margin-left:28px;
}

.new-day-button {
  position:fixed;
  right:28px;
  top:210px;

  float:right;

}

.input-has-focus .input-wrapper  .label {
  color:white !important;
}

.arrows-container {
  .left,
  .right {
    font-size: 2em;
  }
  display: flex;
  >* {
    flex-grow: 1;
    text-align: center;
  }
}
