// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import 'font-awesome';

@font-face {
  font-family: 'nexa_boldregular';
  src: url('/assets/fonts/nexabold-webfont.woff2') format('woff2'),
  url('/assets/fonts/nexabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa_lightregular';
  src: url('/assets/fonts/nexalight-webfont.woff2') format('woff2'),
  url('/assets/fonts/nexalight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.content .scroll-content, .content-md .scroll-content {
  //padding-top: 100px !important;
}

ion-header.header::after , ion-header.header-md::after {
  background-image: none !important;
}

.show-page .header .toolbar .toolbar-background,
.show-page .header-md .toolbar-md .toolbar-background-md {
  background-color: transparent !important;
}

.content, .content-md {
  background-color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Roboto Condensed",Arial,sans-serif !important;
}

.header .toolbar .toolbar-title, .header .toolbar .bar-buttons .icon{
  color:white;
}

.monthview-container {
  height: auto !important;
}

body > ion-app > ng-component > ion-menu > div > ion-header > ion-toolbar > div.toolbar-content.toolbar-content-md > ion-title > div {
  color: #000000 !important;
}
