<div class="entry-config">
    <h2>New entry</h2>
    <form [formGroup]="form">
        <ion-list>

            <ion-item>
                <ion-label color="primary" floating>Entry type</ion-label>
                <ion-select formControlName="type" okText="Okay" cancelText="Dismiss">
                    <ion-option *ngFor="let entryType of entryTypes; let i = index" [value]="entryType.id">
                        {{entryType.title}}
                    </ion-option>

                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary" floating>Entry name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <div style="display:flex; justify-content: flex-end">
              <button ion-button class="button-danger"(click)="cancel()">Cancel</button>
              <button ion-button class="button-ok"(click)="save()" >Save</button>
            </div>
        </ion-list>
    </form>
</div>
