/**
 * Created by NM on 3/11/2017.
 */

.entry-config {
  padding:25px;
  background-color:#3073b6;
  border: 1px solid #3073b6;

}
.entry-config .item {
  background-color:#3073b6;
  color:white;
}
.entry-config h2 {
  color:white;
}

.entry-config .label {
  color: white;
}

.button-danger {
  background-color: #233142;
}
.button-ok {
  background-color: #F95959;
}

